/* Common style */
* {
   margin: 0;
   font-family: 'Work Sans', sans-serif;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.section-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 47px;
   color: #151414;
   text-align: center;
}

/* Banner section style */
/* Plans section style */
#plans {
   margin: 130px 0;
}

.plans-details {
   display: flex;
   justify-content: space-between;
   margin-top: 52px;
}

.plan-item {
   text-align: center;
}

.plan-item-icon {}

.plan-item-title {
   font-size: 30px;
   font-weight: 700;
   line-height: 35px;
   color: #151414;
   margin: 16px 0;
}

.plan-item-description {
   font-size: 25px;
   font-weight: 500;
   line-height: 29px;
   color: #737272;
}