/* Common style */
* {
   margin: 0;
   font-family: 'Work Sans', sans-serif;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.section-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 47px;
   color: #151414;
   text-align: center;
}

.primary-btn {
   padding: 15px 20px;
   background: #fff;
   color: #F15B22;
   font-size: 20px;
   font-weight: 600;
   border-radius: 8px;
   border: none;
}

/* Banner section style */
#banner {
   background-image: url('../images/banner/banner1.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 215px 0 161px 0;
}

.banner-details {
   display: flex;
   justify-content: flex-end;
}

.banner-content {
   width: 524px;
   text-align: right;
}

.banner-title {
   font-size: 65px;
   font-weight: 700;
   line-height: 76px;
   color: #151414
}

.banner-description {
   margin: 24px 0;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #444343;
}

.banner-btn {
   padding: 17px 26px;
   font-size: 20px;
   font-weight: 500;
   background: #F15B22;
   color: #fff;
   border-radius: 5px;
   border: none;
}

/* failures section style */
#failures {
   margin: 130px 0;
}

.failures-details {
   display: flex;
   align-items: center;
   gap: 90px;
}

.failures-content {
   padding-right: 35px;
}

.failures-content>.section-title {
   text-align: left;
}

.failures-description {
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #444343;
   margin: 24px 0;
}

.failures-list {
   margin: 0;
   padding: 0;
}

.failures-list li {
   list-style: none;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #444343;
}

.failures-list li i {
   color: #16D887;
   margin-right: 4px;


}

/* Plans section style */
#plans {
   margin: 130px 0;
}

.plans-details {
   display: flex;
   justify-content: space-between;
   margin-top: 52px;
}

.plan-item {
   text-align: center;
}

.plan-item-icon {}

.plan-item-title {
   font-size: 30px;
   font-weight: 700;
   line-height: 35px;
   color: #151414;
   margin: 16px 0;
}

.plan-item-description {
   font-size: 25px;
   font-weight: 500;
   line-height: 29px;
   color: #737272;
}

/* positive mindset section style */
#positive-mindset {
   margin-bottom: 130px;
}

.positive-mindset-details {
   background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
   padding: 60px;
   border-radius: 8px;
}

.positive-mindset-details>.section-title {
   text-align: left;
   color: #fff;
   margin-bottom: 24px;
   width: 55%;
}

/* footer section style */
#footer {
   background: #151414;
   padding: 130px 0;
}

.footer-details {
   display: flex;
   justify-content: space-between;
   gap: 35%;
}

.footer-title {
   font-size: 45px;
   font-weight: 700;
   line-height: 53px;
   color: #F8F8F8;
}

.footer-description,
.contact-info {
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   color: #fff;
   margin: 24px 0;
}

.social a {
   text-decoration: none;
}

.footer-sub-title {
   font-size: 25px;
   font-weight: 600;
   line-height: 29px;
   color: #fff;
}

input[type="email"] {
   padding: 15px 20px;
   background: transparent;
   color: #F3F3F3;
   font-size: 18px;
   border: 1px solid #fff;
   border-radius: 8px;
   margin: 30px 0 15px 0;
}